NODE_ENV=development
PORT=3000

# Remote Turso (recommended)
TURSO_DATABASE_URL=libsql://your-database-name-your-org.turso.io
TURSO_AUTH_TOKEN=your_new_turso_token

# Local SQLite fallback (optional)
# DATABASE_URL=file:./database.db

# Redis
# local redis for development / upstash redis for production
REDIS_DRIVER=local
# redis connection string for local development
REDIS_URL=redis://127.0.0.1:6379
# redis connection info for upstash (production)
UPSTASH_REDIS_REST_URL=https://your-upstash-instance.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token
